package-import-method=copy
# this is the format for npm v6:
#registry=https://npm.pkg.github.com/ShaperTools

# this is the format for npm v7:
@jonhollander:registry=https://npm.pkg.github.com/

#Need this regardless of npm version
//npm.pkg.github.com/:_authToken=${PACKAGES_AUTH_TOKEN}